@model Animal.Models.AnimalRegistration

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GoatRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.earTagNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.earTagNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Breed.breedNamelong)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="AddEditAnimal" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
