@model IEnumerable<Animal.Models.Vaccination>

@{
    ViewData["Title"] = "Index";
}
<div class="card mb-4">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Vaccination</h3>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="AddEditAnimal" class="btn btn-primary">Create New</a>
        </p>
        <div class="row">
         @*
                <div class="col-md-3">
                    <div class="form-group">
                        <label></label>
                        @Html.DropDownList("farm", Model.farm, "Select Farm", new { @class = "form-control", id = "ddlFarm" })
                    </div>
                </div>*@
        </div>
        @*<label>@ViewData["fileLocation"]</label>*@

        <div style="padding-top:10px;">
            <table class="table table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>
                           Name
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                          Sub Type
                        </th>
                        <th>
                          Form
                        </th>
                        <th>
                         Manufacturer
                        </th>
                      
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.vaccinName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.vaccinationType.vaccinationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vaccinationSubType.SubTypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vaccinForm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.manufacturedBy)
                            </td>
                           

                            <td>
                                @Html.ActionLink("Edit", "AddEditAnimal", new { id = item.id }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Delete", "DeleteAnimal", new { id = item.id }, new { @class = "btn btn-success" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("body div.myTable input");
            var dataSrc = [];
            var table = $("#myTable").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ],
                "pageLength": 50,
            });

            //$("#ddlBreed").change(function () {
            //    searchData(2, $(this).val());
            //})

            //$("#ddlSpecies").change(function () {
            //    searchData(1, $(this).val());
            //})

            //$("#ddlFarm").change(function () {
            //    searchData(6, $(this).val());
            //})

            //$("#ddlOwner").change(function () {
            //    searchData(5, $(this).val());
            //})


        });

                //function searchData(col, value) {
                //    var table = $("#myTable").DataTable();
                //    table.column(col).search(value).draw();
                //}
    </script>
}
